@font-face {
    font-family: 'fontGame';
    src: url('../../../public/font/Pony.ttf');
}
body {
    font-family: 'fontGame';
    color: #C0C0C0;
}
h1{
    color: white;
    padding: 30px;
}

.datVe{
    background-image: url('../../../public/img/bgmovie.jpg');
   background-size: cover;
   height: 100vh;
}
.overlay{
    width: 700px;
    background-color: rgba(17, 2, 2, 0.61);
    
}
p{
    color: orangered;
}
.smallBox{
    display: inline-block;
}
li.smallBox {
    text-align: left;
    display: inline-block;
    margin-right: 1em;

}
.smallBox::before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
}
.greenBox::before {
    content: "";
    background: Green;
}
.redBox::before {
    content: "";
    background: red;
}
.emptyBox::before {
    content: "";
    background: white;
}
td {
    width: 40px;
    font-weight: 600;
    font-size: 1em;
    padding-top: 7px;
    height: 24px;
    color: #fff;
}